/*-------------------------------------------------*\
	# SHEET STRUCTURE
\*-------------------------------------------------*/

/* hide the tabs unless tab buttons selected */
.sheet-stats, .sheet-history, .sheet-vehicle, .sheet-secondary_vehicle, .sheet-kaiju {
	display: none;
}

/* show the selected tab and structuring of grids */
.sheet-tabstoggle[value="stats"] ~ div.sheet-stats {
	display: grid;
	grid-template-columns: 95px 105px 105px 105px 105px 105px 105px 105px;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr fit-content() 1fr
		fit-content() fit-content() fit-content() 1fr 1fr;
	justify-content: center;
	background-color: #38239F;
	background-size: 840px;
	background-repeat: no-repeat;
	background-position: center;
}

.sheet-tabstoggle[value="history"] ~ div.sheet-history {
	display: grid;
	grid-template-columns: 100px 110px 110px 110px 110px 110px 110px;
	grid-template-rows: 1fr 1fr 1fr fit-content() 40px 40px 40px 40px 40px 40px 40px;
	justify-content: center;
	background-color: #38239F;
	background-size: 840px;
	background-repeat: no-repeat;
	background-position: center;
}

.sheet-tabstoggle[value="vehicle"] ~ div.sheet-vehicle {
	display: grid;
	grid-template-columns: 95px 105px 105px 105px 105px 105px 105px 105px;
	grid-template-rows: 1fr 1fr 1fr fit-content() 1fr fit-content() 1fr
		fit-content() 1fr 1fr 1fr 1fr fit-content();
	justify-content: center;
	align-content: center;
	background-color: #801008;
	background-size: 840px;
	background-repeat: no-repeat;
	background-position: center;
}

.sheet-tabstoggle[value="secondary_vehicle"] ~ div.sheet-secondary_vehicle {
	display: grid;
	grid-template-columns: 95px 105px 105px 105px 105px 105px 105px 105px;
	grid-template-rows: 1fr 1fr 1fr fit-content() 1fr fit-content() 1fr
		fit-content() 1fr 1fr 1fr 1fr fit-content();
	justify-content: center;
	align-content: center;
	background-color: #801008;
	background-size: 840px;
	background-repeat: no-repeat;
	background-position: center;
}

.sheet-tabstoggle[value="kaiju"] ~ div.sheet-kaiju {
	display: grid;
	grid-template-columns: 95px 105px 105px 105px 105px 105px 105px 105px;
	grid-template-rows: 1fr 1fr 1fr fit-content() 1fr fit-content() 1fr
		fit-content();
	justify-content: center;
	background-color: black;
	background-size: 840px;
	background-repeat: no-repeat;
	background-position: center;
}

/* laying out the grid elements on the STATS tab */

.sheet-name { grid-area: 1/1/2/2; }

.sheet-name_query { grid-area: 1/2/2/4; }


.sheet-plotpoints { grid-area: 1/7/2/8; }

.sheet-ppcounter { grid-area: 1/8/2/9; }


.sheet-dicepool { grid-area: 2/1/3/2; }

.sheet-d4roll { grid-area: 2/2/4/3; }

.sheet-d6roll { grid-area: 2/3/4/4; }

.sheet-d8roll { grid-area: 2/4/4/5; }

.sheet-d10roll { grid-area: 2/5/4/6; }

.sheet-d12roll { grid-area: 2/6/4/7; }

.sheet-poolbuttons { grid-area: 2/7/4/8; }

.sheet-herodice {
	grid-area: 3/8/4/9;
	align-self: end;
}


.sheet-attributes { grid-area: 4/1/5/2; }

.sheet-brains { grid-area: 4/2/5/8; }

.sheet-d4hero { grid-area: 4/8/5/9; }

.sheet-brawn { grid-area: 5/2/6/8; }

.sheet-d6hero { grid-area: 5/8/6/9; }

.sheet-bonhomie { grid-area: 6/2/7/8; }

.sheet-d8hero { grid-area: 6/8/7/9; }

.sheet-d6attributes { grid-area: 7/2/8/3; }

.sheet-d8attributes { grid-area: 7/4/8/5; }

.sheet-d10attributes { grid-area: 7/6/8/7; }

.sheet-d10hero { grid-area: 7/8/8/9; }


.sheet-roles { grid-area: 8/1/9/2; }

.sheet-commander {	grid-area: 8/2/9/3; }

.sheet-climber { grid-area: 8/3/9/4; }

.sheet-engineer { grid-area: 8/4/9/5; }

.sheet-medic { grid-area: 8/5/9/6; }

.sheet-scout { grid-area: 8/6/9/7; }

.sheet-d12hero { grid-area: 8/8/9/9; }

.sheet-roledice { grid-area: 9/3/10/8; }

.sheet-rolesfx { grid-area: 10/2/11/8}


.sheet-stress { grid-area: 11/1/12/2; }

.sheet-angrystress { grid-area: 11/2/12/3; }

.sheet-afraidstress { grid-area: 11/3/12/4; }

.sheet-exhaustedstress { grid-area: 11/4/12/5; }

.sheet-injuredstress { grid-area: 11/5/12/6; }

.sheet-insecurestress { grid-area: 11/6/12/7; }


.sheet-skills { grid-area: 13/1/14/2; }

.sheet-skillrating { grid-area: 13/2/14/7; }

.sheet-skilldice { grid-area: 13/7/14/9; }


.sheet-relationships { grid-area: 14/1/15/2; }

.sheet-relationship_name_state { grid-area: 14/2/15/9; }


.sheet-signatureassets { grid-area: 15/1/16/2; }

.sheet-asset_names_descs { grid-area: 15/2/16/7; }

.sheet-assetbuttons { grid-area: 15/7/16/9; }


.sheet-push { grid-area: 16/1/17/3; }

.sheet-pushdice { grid-area: 16/3/17/9; }


.sheet-poolbuttons_b { grid-area: 17/1/18/2; }

.sheet-d4roll_b { grid-area: 17/3/18/4; }

.sheet-d6roll_b { grid-area: 17/4/18/5; }

.sheet-d8roll_b { grid-area: 17/5/18/6; }

.sheet-d10roll_b { grid-area: 17/6/18/7; }

.sheet-d12roll_b { grid-area: 17/7/18/8; }


/* laying out the grid elements on the CHARACTER HISTORY tab */

.sheet-name_again {
	grid-area: 1/1/2/2;
	justify-self: end;
}

.sheet-name_query_again { grid-area: 1/2/2/3; }

.sheet-age { grid-area: 1/6/2/7; }

.sheet-age_query  {
	grid-area: 1/7/2/8;
	align-self: center;
	justify-self: start;
}

.sheet-gender { grid-area: 2/1/3/2; }

.sheet-gender_query {
	grid-area: 2/2/3/3;
	align-self: center;
	justify-self: start;
}

.sheet-birthplace { grid-area: 2/4/3/5; }

.sheet-birthplace_query {
	grid-area: 2/5/3/6;
	align-self: center;
	justify-self: start;
}

.sheet-sessionrecords { grid-area: 3/2/4/4; }

.sheet-records { grid-area: 4/1/4/8; }

.sheet-bio { grid-area: 5/1/12/7; }

.sheet-growthpool {
	grid-area: 5/7/6/8;
	align-self: end;
}

.sheet-growthd4 { grid-area: 6/7/7/8; }

.sheet-growthd6 { grid-area: 7/7/8/8; }

.sheet-growthd8 { grid-area: 8/7/9/8; }

.sheet-growthd10 { grid-area: 9/7/10/8; }

.sheet-growthd12 { grid-area: 10/7/11/8; }

.sheet-rollgrowthpool { grid-area: 11/7/12/8; }



/* laying out the grid elements on the Vehicle tab */

.sheet-vehiclename { grid-area: 1/1/2/2; }

.sheet-vehiclenamequery { grid-area: 1/2/2/6; }

.sheet-vehiclescale { grid-area: 1/6/2/7; }

.sheet-vehiclescaleselect { grid-area: 1/7/2/9; }


.sheet-dicepoolvehicle { grid-area: 2/1/3/2; }

.sheet-d4rollvehicle { grid-area: 2/2/3/3S; }

.sheet-d6rollvehicle { grid-area: 2/3/3/4; }

.sheet-d8rollvehicle { grid-area: 2/4/3/5; }

.sheet-d10rollvehicle { grid-area: 2/5/3/6; }

.sheet-d12rollvehicle { grid-area: 2/6/3/7; }

.sheet-poolbuttonsvehicle { grid-area: 2/7/3/8; }


.sheet-distinctionsvehicle { grid-area: 3/1/4/2; }

.sheet-dis1vehicle { grid-area: 3/2/4/6; }

.sheet-dis1vehiclesfx { grid-area: 4/2/5/8; }

.sheet-dis2vehicle { grid-area: 5/2/6/6; }

.sheet-dis2vehiclesfx { grid-area: 6/2/7/8; }

.sheet-dis3vehicle { grid-area: 7/2/8/6; }

.sheet-dis3vehiclesfx { grid-area: 8/2/9/8; }

.sheet-distinctiondicevehicle { grid-area: 9/3/10/7; }


.sheet-attributesvehicle { grid-area: 10/1/11/2; }

.sheet-engines { grid-area: 10/2/11/3; }

.sheet-frames { grid-area: 10/4/11/5; }

.sheet-systems { grid-area: 10/6/11/7; }

.sheet-stressvehicle { grid-area: 11/1/12/2; }

.sheet-enginesstress { grid-area: 11/2/12/3; }

.sheet-framesstress { grid-area: 11/4/12/5; }

.sheet-systemsstress { grid-area: 11/6/12/7; }

.sheet-traumavehicle { grid-area: 12/1/13/2; }

.sheet-enginestrauma { grid-area: 12/2/13/3; }

.sheet-framestrauma { grid-area: 12/4/13/5; }

.sheet-systemstrauma { grid-area: 12/6/13/7; }

.sheet-attributesbuttonsvehicle { grid-area: 10/8/14/9; }


.sheet-signatureassetsvehicle { grid-area: 13/1/14/3; }

.sheet-asset_names_descsvehicle {	grid-area: 13/3/14/7; }


/* laying out the grid elements on the Secondary Vehicle tab */
.sheet-vehiclename2 { grid-area: 1/1/2/2; }

.sheet-vehiclenamequery2 { grid-area: 1/2/2/6; }

.sheet-vehiclescale2 { grid-area: 1/6/2/7; }

.sheet-vehiclescaleselect2 { grid-area: 1/7/2/9; }


.sheet-dicepoolvehicle2 { grid-area: 2/1/3/2; }

.sheet-d4rollvehicle2 { grid-area: 2/2/3/3S; }

.sheet-d6rollvehicle2 { grid-area: 2/3/3/4; }

.sheet-d8rollvehicle2 { grid-area: 2/4/3/5; }

.sheet-d10rollvehicle2 { grid-area: 2/5/3/6; }

.sheet-d12rollvehicle2 { grid-area: 2/6/3/7; }

.sheet-poolbuttonsvehicle2 { grid-area: 2/7/3/8; }


.sheet-distinctionsvehicle2 { grid-area: 3/1/4/2; }

.sheet-dis1vehicle2 { grid-area: 3/2/4/6; }

.sheet-dis1vehiclesfx2 { grid-area: 4/2/5/8; }

.sheet-dis2vehicle2 { grid-area: 5/2/6/6; }

.sheet-dis2vehiclesfx2 { grid-area: 6/2/7/8; }

.sheet-dis3vehicle2 { grid-area: 7/2/8/6; }

.sheet-dis3vehiclesfx2 { grid-area: 8/2/9/8; }

.sheet-distinctiondicevehicle2 { grid-area: 9/3/10/7; }


.sheet-attributesvehicle2 { grid-area: 10/1/11/2; }

.sheet-engines2 { grid-area: 10/2/11/3; }

.sheet-frames2 { grid-area: 10/4/11/5; }

.sheet-systems2 { grid-area: 10/6/11/7; }

.sheet-stressvehicle2 { grid-area: 11/1/12/2; }

.sheet-enginesstress2 { grid-area: 11/2/12/3; }

.sheet-framesstress2 { grid-area: 11/4/12/5; }

.sheet-systemsstress2 { grid-area: 11/6/12/7; }

.sheet-traumavehicle2 { grid-area: 12/1/13/2; }

.sheet-enginestrauma2 { grid-area: 12/2/13/3; }

.sheet-framestrauma2 { grid-area: 12/4/13/5; }

.sheet-systemstrauma2 { grid-area: 12/6/13/7; }

.sheet-attributesbuttonsvehicle2 { grid-area: 10/8/14/9; }


.sheet-signatureassetsvehicle2 { grid-area: 13/1/14/3; }

.sheet-asset_names_descsvehicle2 {	grid-area: 13/3/14/7; }


/* laying out the grid elements on the Kaiju tab */
.sheet-idno { grid-area: 1/1/2/4; }

.sheet-type { grid-area: 1/4/2/7; }

.sheet-kaijuscale { grid-area: 1/7/2/9; }


.sheet-dicepoolkaiju { grid-area: 2/1/3/2; }

.sheet-d4rollkaiju { grid-area: 2/2/3/3; }

.sheet-d6rollkaiju { grid-area: 2/3/3/4; }

.sheet-d8rollkaiju { grid-area: 2/4/3/5; }

.sheet-d10rollkaiju { grid-area: 2/5/3/6; }

.sheet-d12rollkaiju { grid-area: 2/6/3/7; }

.sheet-poolbuttonskaiju { grid-area: 2/7/3/8; }


.sheet-distinctionskaiju	{ grid-area: 3/1/4/2; }

.sheet-dis1kaiju { grid-area: 3/2/4/7; }

.sheet-dis1kaijusfx { grid-area: 4/2/5/8; }

.sheet-dis2kaiju { grid-area: 5/2/6/7; }

.sheet-distinctiond4kaiju { grid-area: 5/8/6/9; }

.sheet-dis2kaijusfx { grid-area: 6/2/7/8; }

.sheet-dis3kaiju { grid-area: 7/2/8/7; }

.sheet-distinctiond8kaiju { grid-area: 7/8/8/9; }

.sheet-dis3kaijusfx { grid-area: 8/2/9/8; }


.sheet-affiliationskaiju { grid-area: 9/1/10/2; }

.sheet-solo { grid-area: 9/2/10/3; }

.sheet-pair { grid-area: 9/4/10/5; }

.sheet-pack { grid-area: 9/6/10/7; }

.sheet-affiliationdice { grid-area: 10/3/11/8}


.sheet-stresskaiju { grid-area: 11/1/12/2; }

.sheet-afraidstresskaiju { grid-area: 11/2/12/3; }

.sheet-exhaustedstresskaiju { grid-area: 11/4/12/5; }

.sheet-injuredstresskaiju { grid-area: 11/6/12/7; }


.sheet-skillskaiju { grid-area: 12/1/13/2; }

.sheet-skillratingkaiju { grid-area: 12/2/13/6; }

.sheet-skilldicekaiju { grid-area: 13/3/14/8; }


.sheet-powers { grid-area: 14/1/15/2; }

.sheet-powerrating { grid-area: 14/2/15/6; }

.sheet-powerdice  { grid-area: 14/7/15/9; }



/*-------------------------------------------------*\
	# GENERAL
\*-------------------------------------------------*/

/* ------- Inputs ------- */

input[type="number"] {
	margin: 5px;
	height: 40px;
	width: 40px;
	font-size: 16px;
	font-weight: bold;
}

input.sheet-name {
  margin: 8px;
  width: 18em;
	text-transform: uppercase;
  font-family: Candal;
	font-weight: bolder;
  font-size: 20px;
	background-color: #FFCD00;
	color: black;
}

input.sheet-sub_name {
  margin-left: 2px;
	margin-right: 2px;
  width: 10em;
	text-transform: uppercase;
  font-family: Contrail One;
  font-size: 18px;
	background-color: #FFCD00;
	color: black;
}

input.sheet-small {
	margin-top: 8px;
	margin-left: 2px;
	margin-right: 2px;
  width: 5em;
	text-transform: uppercase;
  font-family: Contrail One;
  font-size: 18px;
	background-color: #FFCD00;
	color: black;
}

input.sheet-description {
	margin: 4px;
	width: 31em;
	font-size: 12px;
	font-weight: bold;
	background-color: #FFCD00;
	color: black;
}

/* ------- Textareas ------- */

textarea {
	margin-left: 5px;
	width: 340px;
	height: 300px;
	font-size: 12px;
	font-weight: bold;
	background-color: #FFCD00;
	color: black;
}

textarea.sheet-tall_n_wide {
	margin-left: 5px;
	width: 630px;
	height: 655px;
	font-size: 12px;
	font-weight: bold;
	background-color: #FFCD00;
	color: black;
}

textarea.sheet-short {
	margin: 4px;
	margin-top: 7px;
	width: 35em;
	height: 16px;
	font-size: 12px;
	font-weight: bold;
	background-color: #FFCD00;
	color: black;
}

/* ------- Selects ------- */

select.sheet-small {
	margin: 4px;
	width: 90px;
	background-color: #FFCD00;
	font-weight: bold;
}

select.sheet-medium {
	margin: 4px;
	width: 120px;
	background-color: #FFCD00;
	font-weight: bold;
}

select.sheet-long {
	width: 150px;
	background-color: #FFCD00;
	font-weight: bold;
}

select.sheet-xl {
	width: 175px;
	background-color: #FFCD00;
	font-weight: bold;
}


/* ------- Text ------- */

h1 {
	font-family: Candal;
	text-transform: uppercase;
	font-size: 25px;
	color: white;
}

p, strong, label {
	font-family: Candal;
	color: white;
}

h2 {
	margin: 2px;
	font-size: 16px;
	font-family: Contrail One;
	text-transform: uppercase;
	color: white;
}

/* ------- Buttons ------- */

button {
	margin: 6px;
	padding: 5px 7px;
	text-align: center;
	font-family: Candal;
	font-size: 13px;
	text-transform: uppercase;
	background-color: #FFCD00;
	color: black;
}

button.sheet-switcher {
	margin: 6px;
	padding: 5px 7px;
	text-align: center;
	font-family: Candal;
	font-size: 13px;
	align-self: right;
	text-transform: uppercase;
	background-color: #ca190d;
	color: white;
}
